apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Name }}-rollup
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: op-node
    app.kubernetes.io/instance: {{ .Name }}
    app.kubernetes.io/component: rollup
    app.kubernetes.io/part-of: opstack
data:
  rollup.json: |
{{ .RollupConfig | indent 4 }} 