apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}-node
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: op-node
    app.kubernetes.io/instance: {{ .Name }}
    app.kubernetes.io/component: rollup
    app.kubernetes.io/part-of: opstack
spec:
  type: ClusterIP
  ports:
  - name: rpc
    port: 8547
    targetPort: 8547
    protocol: TCP
  - name: p2p-tcp
    port: 9003
    targetPort: 9003
    protocol: TCP
  - name: p2p-udp
    port: 9003
    targetPort: 9003
    protocol: UDP
  selector:
    app.kubernetes.io/name: op-node
    app.kubernetes.io/instance: {{ .Name }} 