apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Name }}-batcher
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: op-batcher
    app.kubernetes.io/instance: {{ .Name }}
    app.kubernetes.io/component: batcher
    app.kubernetes.io/part-of: opstack
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: op-batcher
      app.kubernetes.io/instance: {{ .Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: op-batcher
        app.kubernetes.io/instance: {{ .Name }}
        app.kubernetes.io/component: batcher
    spec:
      containers:
      - name: op-batcher
        image: {{ .Image }}
        imagePullPolicy: IfNotPresent
        env:
        - name: CHAIN_ID
          value: "{{ .ChainID }}"
        - name: L1_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: {{ .SignerPrivateKeySecret }}
              key: key
        command:
        - op-batcher
        args:
        - --l1-eth-rpc={{ .L1RpcUrl }}
        - --rollup-rpc=http://{{ .Name }}-node:8547
        - --poll-interval=1s
        - --sub-safety-margin=6
        - --num-confirmations=1
        - --safe-abort-nonce-too-low-count=3
        - --resubmission-timeout=30s
        - --rpc.addr=0.0.0.0
        - --rpc.port=8548
        - --rpc.enable-admin
        - --max-channel-duration=1
        - --private-key=$(L1_PRIVATE_KEY)
        volumeMounts:
        - name: rollup-config
          mountPath: /rollup
          readOnly: true
      volumes:
      - name: rollup-config
        secret:
          secretName: {{ .Name }}-rollup 