apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Name }}-genesis
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: op-geth
    app.kubernetes.io/instance: {{ .Name }}
    app.kubernetes.io/component: execution
    app.kubernetes.io/part-of: opstack
data:
  genesis.json: |
{{ .Genesis | indent 4 }} 