apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Name }}-geth-data
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: op-geth
    app.kubernetes.io/instance: {{ .Name }}
    app.kubernetes.io/component: execution
    app.kubernetes.io/part-of: opstack
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Storage.Size }}
  {{- if .Storage.StorageClass }}
  storageClassName: {{ .Storage.StorageClass }}
  {{- end }} 