apiVersion: v1
kind: Secret
metadata:
  name: {{ .Name }}-jwt
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: op-geth
    app.kubernetes.io/instance: {{ .Name }}
    app.kubernetes.io/component: execution
    app.kubernetes.io/part-of: opstack
type: Opaque
data:
  jwt: {{ .JWTSecret | b64enc }} 