apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}-geth
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: op-geth
    app.kubernetes.io/instance: {{ .Name }}
    app.kubernetes.io/component: execution
    app.kubernetes.io/part-of: opstack
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8545
    targetPort: http
    protocol: TCP
  - name: ws
    port: 8546
    targetPort: ws
    protocol: TCP
  - name: authrpc
    port: 8551
    targetPort: authrpc
    protocol: TCP
  - name: metrics
    port: 6060
    targetPort: metrics
    protocol: TCP
  selector:
    app.kubernetes.io/name: op-geth
    app.kubernetes.io/instance: {{ .Name }} 